/* Smarthphone */
@media only screen 
and (max-width : 768px) {

    section {
        height: calc(var(--vh, 1vh) * 100) !important;
    }

    .only-desktop {
        display: none;
    }

    .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    #sessionContainer #statSession {
        font-size: 3em;
    }

    canvas {
        width: 60vw !important;
        height: 200px !important;
        margin: 0 auto;
    }

    #sessionTitle {
        margin: 5px;
    }

    #chartContainer {
        width: 100%;
    }

    #formSection form {
        max-width: 80%;
    }

    #formSection form img {
        max-width: 100%;
    }

    #homeSection, #homeSection2, #sessionSection, #sessionSection2, #sessionDetailSection, #sessionDetailSection2, #fullLeaderBoardSection, #formSection, #dashboardSection, #serverSection {
        height: auto !important;
        min-height: 100vh;
    }

    section {
        padding-bottom: 15px;
    }

    .serverCol .colS:nth-child(1), .serverCol .colS:nth-child(2){
        border-right: 1px solid #8b0000;
    }

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa-8x {
        font-size: 5rem !important;
    }

    #dashboardSection .row {
        margin-top: 50px;
    }

    #dashboardSection .row {
        margin-top: 50px;
    }

    .card-body img {
        width: 25%;
    }

    .only-full-desktop {
        display: none;
    }
}

/* Tablet */
@media only screen 
and (max-width : 989px) and (min-width : 769px) {
    .row {
        margin-top: 0;
        margin-bottom: 0;
    }

    #formSection form {
        max-width: 80%;
    }

    #formSection form img {
        max-width: 100%;
    }

    .serverCol .colS:nth-child(1), .serverCol .colS:nth-child(2){
        border-right: 1px solid #8b0000;
    }

    .only-full-desktop {
        display: none;
    }
}

/* Laptops */
@media only screen 
and (max-width : 1400px) and (min-width: 990px) {
    #sessionContainer #statSession {
        font-size: 4em;
    }

    #sessionTitle {
        margin: 10px;
    }

    .serverCol .colS:nth-child(1), .serverCol .colS:nth-child(2){
        border-right: 1px solid #8b0000;
    }

    .only-full-desktop {
        display: none;
    }
    
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1401px) {
    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .no-desktop {
        display: none;
    }
    
    .serverCol .colS:nth-child(1), .serverCol .colS:nth-child(2){
        border-right: 1px solid #8b0000;
    }
    
    .card-body .row {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #drivername {
        font-weight: 500;
        font-size: 2rem;
    }

    .row {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .only-full-desktop {
        display: block;
    }

    #sessionList {
        max-height: 63vh;
    }

}
