body {
    background-color: #15151e;
    color: #c5c5c5;
}

h5 {
    margin: 5px !important;
}

a {
    color: #c5c5c5;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    color: #8b0000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #15151e;
}

::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

nav {
    border-bottom: 1px solid #8b0000;
    background-color: #15151e;
    box-shadow: 0 0 5px #080808 ;
    padding: 0 !important;
}

nav span {
    color: #8b0000;
    font-size: 50px !important;
}

nav img {
    width: 10em;
    padding-left: 0.4em;
}

footer {
    text-align: center;
    padding: 1rem;
}

footer i {
    margin: 5px;
}

footer img {
    width: 7%;
}

.navbar-right {
    font-size: 25px;
    padding-right: 0.4em;
}

#particleJS #tsparticles canvas {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    z-index: -1;
}

#homeSection, #homeSection2, #sessionSection, #sessionSection2, #sessionDetailSection, #sessionDetailSection2, #fullLeaderBoardSection, #formSection, #dashboardSection, #serverSection, #chartSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #8b0000;
}

#homeContainer {
    width: 35%;
}

#homeContainer img {
    width: 35%;
}

#homeContainer a{
    color: #c5c5c5;
    text-decoration: none;
    transition: .3s;
}

#homeContainer a:hover{
    color: #8b0000;
}

#homeContainer2, #sessionContainer {
    width: 90%;
}

#homeContainer2 img, #sessionContainer img{
    padding: 10px;
}

#arrowCont {
    position: absolute;
    margin: 0 auto;
    bottom: 50px;
}

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #c5c5c5;
    border-right: 5px solid #c5c5c5;
    transform: rotate(45deg);
    margin-top: -10px;
    animation: animate 3s infinite;
}

.arrow:hover span{
    border-bottom: 5px solid #8b0000;
    border-right: 5px solid #8b0000;
}

.arrow span:nth-child(2){
    animation-delay: -0.2s;
}

.arrow span:nth-child(3){
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(0,0);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

#homeTitle {
    margin:50px
}

#sessionTitle {
    margin: 20px;
}

#homeTitle i, #sessionTitle i, #sessionDetailTitle i{
    font-size: 40px;
}

#sessionDetailTitle {
    margin: 10px;
}

#homeDesc {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #636363;
}

#sessionList {
    display: block;
    position: sticky; 
    max-height: 50vh;
    overflow-y: scroll;
    width: 100%;
    text-align: center;
    color: white;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#sessionList thead {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #8b0000;
    background-color: #15151e;
    color: white;
    z-index: 1;
}

#sessionList tbody, #sessionList thead {
    width: 100%;
    display: inline-table;
    table-layout:fixed;
}

#sessionList th, #sessionList td {
    padding: 20px;
}

#sessionList td {
    vertical-align: middle;
    color: #c5c5c5;
    text-align: center;
    background-color: #15151e;
}

#sessionList td img {
    width: 5rem;
}

#sessionList td a {
    text-decoration: none;
    color: #c5c5c5;
    transition: .1s;
}

#sessionList td a:hover {
    text-decoration: none;
    color: #8b0000;
}

#sessionList i  {
    font-size: 1.7rem;
}

#tableFooter {
    background-color: #15151e;
    padding: 10px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#chartContainer {
    width: 50%;
}

#chartContainer i {
    font-size: 5rem;
}

#sessionContainer #statSession {
    font-size: 5em;
}

#sessionContainer #statSession:nth-child(3) {
    font-size: 2em;
    text-transform: uppercase;
}

.row div {
    align-self: center !important; 
}

.baseEle {
    text-transform: uppercase;
    font-weight: 600;
    color: #8b0000;
}

.personalBestEle {
    text-transform: uppercase;
    color: #129e00;
}

.bestEle {
    text-transform: uppercase;
    color: #9e009e;
}

.rotate {
    animation: rotation 2s infinite linear;
}

.fa-spin {
    -webkit-animation: fa-spin 15s linear infinite !important;
    animation: fa-spin 15s linear infinite !important;
}

.statRed {
    color: #8b0000;
}

canvas {
    width: 100%;
    margin: 0 auto;
}

#flagCol {
    width: 50%;
    padding: 0;
}

#flagTitle {
    width: 25%;
    padding: 0;
}

.serverCol {
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid #21212e;
    transition: .1s;
}

.serverCol:hover {
    box-shadow: 0 0 20px #080808;
    background-color: #1e1e30; 
}

.serverCol .colS img {
    width: 90%;
}

.serverCol .colS:nth-child(3) img {
    width: 65%;
}

.serverCol i {
    padding: 20px;
}

.trackCol {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    transition: .3s;
}

.trackCol:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #080808;
    background-color: #1e1e30;
}

#trackLink:hover {
    color: #c5c5c5;
}

#formSection form {
    max-width: 25%;
    padding: 50px;
    background-color: #15151e;
    border: 4px solid #c5c5c5;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

#formSection img {
    width: 15em;
}

#formSection form label {
    text-align: right;
    width: 100%;
    margin-top: 30px;
}

#formSection form input {
    width: 100%;
    background-color: #15151e;
    border: 1px solid #636363;
    padding: 12px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: .2s;
    color: white;
    font-weight: 600;
    text-align: center;
}

#formSection form input::placeholder {
    text-align: center;
}

#formSection form input:hover {
    border: 1px solid white;
    border-radius: 15px;
}

#formSection form input:focus::placeholder  {
    color: #b9b9b9;
}

#formSection form input:focus {
    border: 1px solid #8b0000;
    border-radius: 5px;
}

#formSection form button {
    padding: 10px 20px 10px 20px;
    background-color: #15151e;
    color: white;
    border: 2px solid #8b0000;
    transition: .3s;
}

#formSection form button:hover {
    padding: 10px 40px 10px 40px;
    background-color: #15151e;
    color: white;
    border: 2px solid #8b0000;
    background-color: #8b0000;
}

#formSection form button:focus {
    padding: 10px 40px 10px 40px;
    background-color: #15151e;
    color: white;
    border: 2px solid #8b000070;
    background-color: #8b000070;
}

.linkTable {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.linkTable:hover td{
    background-color: rgba(139, 0, 0, .7) !important;
    transition: .3s;
}

.linkTable:focus td{
    background-color: rgba(139, 0, 0, 1) !important;
    transition: .3s;
}

.fa-spin {
    animation: fa-spin 5s linear infinite !important;
}

.list-group-item.active {
    color: #fff;
    background-color: #8b0000;
    border-color: #8b0000;
}

#loader {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#loader i {
    color: #8b0000;
}

#loader img {
    width: 20%;
}

#loader button, #sessionDetailSection button, #dashboardSection button {
    color: white;
    border: 1px solid white;
}

#loader button:hover, #sessionDetailSection button:hover {
    background-color: white;
    color: #15151e !important;
}

.loader-spin {
    animation: fa-spin 2s linear infinite !important;
}

#serverSection #serverInfo {
    text-transform: uppercase;
}

.serverHeader {
    border-bottom: 1px solid #8b0000;
}

.serverBodyContent {
    border-right: 1px solid #8b0000;
}

#loading {
    display: none;
    margin: 10px;
    color: #8b0000;
}

ul {
    margin: 0px;
    padding: 0px;
}

.single-cta i {
  color: #8b0000;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

#carlogo {
    width: 4rem !important;
}

#dashboardSection button {
    margin: 5px;
}

.showOnHover {
    opacity: 0;
    transition: .3s;
    color: #ad0000;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

#dashboardSection a {
    color: rgb(172, 172, 172);
}

#dashboardSection a:hover {
    color: rgb(255, 255, 255);
}

#dashboardSection a:hover .showOnHover {
    opacity: 1;
}

#dashboardSection .row {
    margin-top: 50px;
}

.card-body img {
    width: 5%;
    margin-bottom: 30px;
}

#sessionDetailSection .card {
    width: 75%;
    padding: 20px;
    background-color: #15151e;
    border: none;
}

#drivername {
    text-transform: uppercase;
}
